# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env
.env.*
!.env.example
!backend/.env.example
!frontend/.env.example



# FastAPI / Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node / React future frontend
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# Cache data
cache_data/

# SQLite future cache/database
*.db
*.sqlite
*.sqlite3